<html>
    <head>
        <title>Test page</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Test blog</a></h1>
        </div>

        <div>
            <p>published: 29.01.2024, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>This is the first post of my blog in the test django project.</p>

        </div>

        <div>
            <p>published: 29.01.2024, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>This is the second post of my blog in the test django project.</p>
        </div>
        <div>
            {% for post in posts %}
                <div>
                    <p>published: {{ post.published_date }}</p>
                    <h2><a href="">{{ post.title }}</a></h2>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </body>
</html>